/dataset/main/flair-after-tracts
/dataset/main/flair-before-tracts
/dataset/main/flair-after
/dataset/main/flair-before
/dataset/main/dti-after
/dataset/main/dti-before
/dataset/yolo/train
/dataset/yolo/val